# RSA key pair for JWT ticket signing.
#
# Generate with:
#   openssl genrsa -out private.pem 4096
#   openssl rsa -in private.pem -pubout -out public.pem
#
# Paste each key as a single line with literal \n between PEM lines:
#   awk 'NF {printf "%s\\n", $0}' private.pem
#   awk 'NF {printf "%s\\n", $0}' public.pem

RSA_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
